.Container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  text-align: center;
}
.Title {
  color: blue;
  font-size: 20px;
  font-weight: bold;
}
.Nav-expand {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-around;
}
.Nav {
  display: grid;
  grid-template-columns: repeat(4, 95px);
  grid-template-rows: repeat(1, 20px);
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
}
.Messages {
  text-align: center;
  justify-content: center;
  height: 30px;
  width: 280px;
  margin: auto;
  border: 1px solid black;
}
h4 {
  margin: 6px;
}
.Box {
  background-color: yellow;
  visibility: visible;
  border: 1px solid black;
  max-width: 90px;
  max-height: 20px;
  font-size: 12px;
  font-weight: bold;
}
.Box2 {
  background-color: lightgreen;
  visibility: visible;
  border: 1px solid black;
  max-width: 95px;
  max-height: 20px;
  font-size: 12px;
  font-weight: bold;
}
.Invisible {
  visibility: hidden;
}
.Box-expand {
  background-color: green;
  border: 1px solid black;
  width: 45px;
  height: 15px;
  font-size: 12px;
  color: white;
  font-weight: bold;
  justify-content: space-around;
}
.Side-section {
  display:  flex;
  border: 1px solid black;
  justify-content: space-around;
}
.Corner-section {
  display:  flex;
  border: 1px solid black; 
  justify-content: space-around;
}
.Side {
  border: 1px solid black;
}
.Corner {
  border: 1px solid black;  
}
.Hand {
  border: 1px solid black;
  margin-top: 0px;
}
.Button:hover {
  background-color: blue;
} 
.Card {
  border: 2px solid black;
} 
.img-card {
  width: 75px;
}
